h1{
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.jumbotron{
	color: turquoise;
}

body{
	background-color: green;
}

div.pollution-images{
	padding-bottom: 5px;
	padding-top: 5px;
}