body{
	background-color: rgb(0, 204, 102);
	font-family: 'Ubuntu', sans-serif;	
}

.index{
	background-color: rgb(152, 251, 152);
	text-align: center;
}


.navbar-header{
	position: fixed;
}

#bs-example-navbar-collapse-1 li a{
	color: rgb(152, 251, 152);
}


.jumbotron{
	background-image: url('images/Grass1.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
	font-color: rgb(152, 251, 152);
}

.jumbotron p{
	font-size: 15px;
	margin: 0;
	padding: 0;
}


.title h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	text-align: center;
	color: rgb(152, 251, 152);
}

.subtitle{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	font-size: 15px;	
	color: rgb(152, 251, 152);
}

#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
        display: block;
    	margin-left: auto;
    	margin-right: auto;
      }

#top a {
	color: #333;
	text-decoration: underline;
}

.news a{
	color: #333;
	text-decoration: underline;
}

ul .dropdown-menu a{
	color: #333;
}

.pollution-images{
	padding-bottom: 5px;
	padding-top: 5px;
}

.news img{
	padding: 10px;
	width: 320px;
	height: 250px;
}

.news .row{
	height: 250px;
}

#myCarousel img{
	width: 450px;
	height: 300px;
}

#myCarousel a{
	color: white;
}
.videos iframe{
	margin-top: 20px;
	margin-bottom: 70px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.videos p{
	font-size: 1.2em;
	text-align: center;
}


#social-buttons img{
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.shop img{
	width: 220px;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.shop-form {
	margin-top: 80px;
}

.shop p{
	text-align: center;
}

.shop-form p{
	text-align: left;
}